@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fundo: #0B2447; /* Fundo do formulário */
    --secundario: #A5D7E8; /* Área secundária, como campos de entrada */
    --botoes: #19376D; /* Cor de fundo dos botões */
    --borda-destaque: #19376D; /* Cor para bordas e elementos de destaque */
    --text: #4b4a4a;
    --text2: #576CBC; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo)!important;
    user-select: none;
    color: var(--text)!important;
}

legend{
    color: #494848 !important;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.legendAxiliar{
    color: var(--text2) !important;
    margin-bottom: 8px !important;
    font-size: 1.6rem;
}

.fieldset{
    border-radius: 1rem;
    background-color: var(--secundario) !important;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1000px ;
}
