@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fundo: #040D12; /* Fundo do formulário */
    --secundario: #5C8374; /* Área secundária, como campos de entrada */
    --botoes: #183D3D; /* Cor de fundo dos botões */
    --borda-destaque: #183D3D; /* Cor para bordas e elementos de destaque */
    --text: #6e887e;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo)!important;
    user-select: none;
    color: var(--borda-destaque)!important;
}
